.article {
  margin: 0 auto 0 auto;
  padding: 20px;
  width: 950px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.15);
  transition: transform 0.25s;
  overflow-wrap: anywhere;
  position: relative;
}

.articleWrapper {
  padding: 30px 0 30px 0;
  min-height: 100vh;
}

.info {
  width: 680px;
}

.title {
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  color: hsla(209, 100%, 55%, 1);
  margin: 0;
  text-decoration: none;
}

.title:hover {
  filter: brightness(0.7);
}

.heading {
  display: flex;
  align-items: center;
  gap: 15px;
  overflow-wrap: anywhere;
}

.likes {
  display: flex;
  justify-content: center;
  gap: 5px;
  font-size: 12px;
  background-color: inherit;
  border: none;
  color: inherit;
}

.likes:disabled {
  color: inherit;
}

.tags {
  margin-top: 5px;
  display: flex;
  gap: 8px;
}

.tags span {
  font-size: 12px;
  border: 1px solid hsla(0, 0%, 0%, 0.3);
  color: inherit;
  border-radius: 3px;
  padding: 3px 5px;
  max-height: 30px;
  overflow-y: hidden;
}

.text {
  font-size: 12px;
  line-height: 22px;
  margin: 8px 0 0 0;
}

.creator {
  width: 180px;
  display: flex;
  justify-content: space-between;
  gap: 12px;
}

.name {
  margin: 3px;
  font-size: 18px;
  font-weight: 400;
  color: inherit;
}

.date {
  font-size: 12px;
  color: hsla(0, 0%, 0%, 0.5);
  margin-top: 3px;
}

.image {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  background-color: inherit;
}

.description {
  margin-top: 15px;
  color: hsla(0, 0%, 0%, 0.5);
}

.green {
  color: hsla(100, 77%, 44%, 1);
  border: 1px solid hsla(100, 77%, 44%, 1);
  border-radius: 6px;
  padding-top: 5px;
  font-size: 14px;
}

.buttons {
  position: absolute;
  right: 20px;
  top: 86px;
}

.antdBtn {
  padding-inline: 23px;
}

.enabled {
  cursor: pointer;
  transition: transform 0.2s;
}

.enabled:focus {
  outline: none;
}

.enabled:hover {
  transform: scale(1.1);
}

.enabled:active {
  transform: scale(1);
}

.favorited svg {
  color: red;
}
